/* style.css */

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    background: #ccc;
    width: 100%;
    height: 100%;
    position: relative;
}

section {
    /* outline: 1px solid #000; */
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.title-group {
    position: absolute;
    width: 100%;
    top: calc(50% - 222px / 2);
}

.section a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
}


.title-group h1 {
    font-size: 48px;
    color: #fff;
}

.title-group p {
    font-size: 20px;
    color: #fff;
}

header {
    position: relative;
    z-index: 999;
}

header h1 {
    position: absolute;
    left: 40px;
    top: 50px;
}

nav {
    position: absolute;
    right: 92px;
    top: 56px;
}

nav a {
    margin-left: 40px;
    color: #fff;
}

.container section h1 {
    font-weight: 500;
}

.container section {
    background-repeat: no-repeat;
    background-size: cover;
}

.container section:nth-child(1) {
    background-color: #1abc9c;
    background-image: url('./images/bg1.jpg');
}
.container section:nth-child(2) {
    background-color: #3498db;
    background-image: url('./images/bg2.jpg');
}
.container section:nth-child(3) {
    background-color: #9b59b6;
    background-image: url('./images/bg3.jpg');
}
.container section:nth-child(4) {
    background-color: #f1c40f;
    background-image: url('./images/bg4.jpg');
}
.container section:nth-child(5) {
    background-color: #e67e22;
    background-image: url('./images/bg5.jpg');
}


.container section {
    /* 채도조정: 0 ~ 100 */
    filter: grayscale(100%) brightness(80%);
    transition: 0.5s;
}

.container section:hover {
    filter: grayscale(0%) brightness(100%);
}


/* 메뉴 텍스트 hover 하이라이트 */
nav a:hover {
    color: #ddd;
}